body {
    font-family: Arial, sans-serif;
    background-color: #E3F2FD; 
    color: #2C3E50; 
    margin: 0;
    padding: 0;
}

header {
    background-color: #BBDEFB; 
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    height: 60px;
    margin-right: 15px;
}

h1 {
    font-size: 2em;
    color: #0D47A1; 
}

nav {
    margin-top: 10px;
    background-color: #90CAF9; 
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #0D47A1;
    font-weight: bold;
}

nav ul li a:hover {
    color: #1565C0;
}

.content {
    display: flex;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
}

.welcome-text {
    flex: 2;
    background-color: #E3F2FD;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.image-sidebar {
    flex: 1;
    background-color: #E1F5FE; 
    padding: 10px;
    margin-left: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.image-sidebar img {
    width: 100%;
    border-radius: 8px;
    margin-top: 0px;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px; 
}

footer {
    background-color: #BBDEFB;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
    font-size: 0.9em;
    color: #0D47A1;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}
